html {
    background-image: url(img/bg0.jpg);
    background-size: cover;
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}

header {
    text-align: center;
}
header img {
    height: auto;
    width: 250px;
}

main {
    margin-top: 200px;
    color: #ffffff;
    font-family: Consolas;
    font-size: 150%;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 20px rgba(0, 0, 0, 1);
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    color: #ffffff;
    font-family: Consolas;
    text-align: center;
}
footer img {
    width: 24px;
    height: 24px;
}
